
<h2>Add Dependent</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label for="txtFirstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtFirstname" placeholder="First Name">
        </div>
    </div>
    <div class="form-group">
        <label for="txtLastname" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtLastname" placeholder="Last Name">
        </div>
    </div>    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div id="btnAddDependent" class="btn btn-default">Add</div>
        </div>
    </div>
</form>               

<div>
    @Html.ActionLink("Back to Employee List", "Index", "Employee")        
</div>
